include config.pug
doctype html
html(lang="en")
    include head.pug
    body
        header
            h1 Platzi Games
            if usuario
                a Hola #{usuario}
            else
                a.boton Registro
        block contenidos
        include footer.pug