extend componentes/plantilla.pug
block contenidos
        section.intro 
            div.intro__imagen: img(src="./images/imagen.png", alt="default-img")
            .intro__contenido 
                h2 #{titulo}
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloribus dolores quas facilis architecto. Dignissimos maxime, impedit eos repudiandae exercitationem nam perferendis aliquid? Voluptates laborum numquam, repellendus culpa veritatis facilis.
                    span Voluptates laborum numquam, repellendus culpa veritatis facilis
                a.boton Leer más
        main.contenido
            each titulo in titulos
                +caja("imagen.png",titulo,"Lorem ipsum dolor sit amet consectetur adipisicing elit")
