-var titulo = "SubTitulo Principal"
-var titulos = ["Titulo Principal","Subtitlo 1", "Subtitulo 2", "Subtitulo 3"]
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Platzi Games - Ralerv Version
        link(rel="stylesheet", href="./css/ejercicio-pug.css")
    body
        header
            h1 Platzi Games
            a.boton Registro
        section.intro 
            div.intro__imagen: img(src="./images/imagen.png", alt="default-img")
            .intro__contenido 
                h2 #{titulos[0]}
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloribus dolores quas facilis architecto. Dignissimos maxime, impedit eos repudiandae exercitationem nam perferendis aliquid? Voluptates laborum numquam, repellendus culpa veritatis facilis.
                    span Voluptates laborum numquam, repellendus culpa veritatis facilis
                a.boton Leer más
        ul
            each titulo in titulos
                li=titulo
